doctype html
html
    head
        base(href="/")
        title instagram-users-media
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div(class="main-content") Loading...
        include templates/item/item