template(id="item")

    div(class="item")

        div(class="item__header")

            div(class="item__header-user-image")
                img

            div(class="item__header-user-names")
                div(class="item__header-user-name")
                div(class="item__header-user-full-name")

            div(class="item__header-posting-time")

        div(class="item__content")

            div(class="item__content-image")
                img

            div(class="item__content-likes")
                button(class="item__content-likes-button")

            div(class="item__content-description")