$content-padding: 10px;
$content-padding-media: 20px;
$user-image-size: 40px;
$user-names-font-size: .8em;
$time-font-size: .85em;
$time-color: #aaaaaa;
$description-font-size: .8em;

.items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  max-width: 295px;
  box-shadow: 0 0 8px #888888;
  margin: 20px;
  border-radius: 2px;
  position: relative;
}

.item__header {
  height: $user-image-size;
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: $content-padding;
  padding-bottom: $content-padding;
}
.item__header>*:first-child {
  margin-left: $content-padding;
}
.item__header>*:last-child {
  margin-right: $content-padding;
}

.item__header-user-image {
  width: $user-image-size;
  height: $user-image-size;
  border-radius: $user-image-size / 2;
  overflow: hidden;
}

.item__header-user-image>img {
  width: $user-image-size;
}

.item__header-user-names {
  padding-left: 10px;
  font-size: $user-names-font-size;
  flex-grow: 1;
}

.item__header-user-name {
  font-weight: 600;
  padding-bottom: 4px;
}

.item__header-posting-time {
  font-size: $time-font-size;
  color: $time-color;
}

.item__content-image>img {
  max-width: 100%;
}

.item__content-likes>button {
  cursor: pointer;
  border: none;
  background: url(/assets/like.png) 2px 2px no-repeat;
  padding: 2px 2px 2px 22px;
  font-size: .8em;
  margin: $content-padding;
}

.item__content-description>div {
  padding: 0 $content-padding 30px $content-padding;
  font-size: $description-font-size;
}

@media screen and (max-width: 740px) {
  .item {
    max-width: none;
    width: 100%;
  }
  .item__content-image {
    width: 50%;
    float: left;
  }
  .item__header,
  .item__content-likes,
  .item__content-description {
    width: 50%;
    float: right;
  }

  .item__header {
    padding-top: $content-padding-media;
    padding-bottom: $content-padding-media;
    position: relative;
  }
  .item__header:after {
    content: "";
    position: absolute;
    left: $content-padding-media;
    right: $content-padding-media;
    bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
  }
  .item__header>*:first-child {
    margin-left: $content-padding-media;
  }
  .item__header>*:last-child {
    margin-right: $content-padding-media;
  }

  .item__content-likes>button {
    margin: $content-padding-media $content-padding-media $content-padding;
  }

  .item__content-description>div {
    padding: 0 $content-padding-media 30px $content-padding-media;
  }

}